<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./head.ejs') %> 
  <body>
    <div id="root">
      <h1 class="main">Listado de Películas Favoritas <br> <a href="/">volver</a></h1>
      <div class="container"></div>
    </div>
    <script type="text/javascript" src="js/favoritas.js"></script>
  </body>
</html>
