<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./head.ejs') %> 
  <body>
    <div id="root">
      <h1 class="main">Listado de Películas</h1>
      <div id="favorites" style="text-align: center;"></div>
      <div class="container">
        <ul name="movies" id="moviesList">
        </ul>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/f0097a676d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
